@font-face {
    font-family: "Imperial Normal 500";
    src: url("fonts/imperial-normal-500.woff2") format("woff2");
}

@font-face {
    font-family: "Minimal Mono Bold";
    src: url("fonts/minimal-mono-bold.woff2") format("woff2");
}

@-webkit-keyframes test {
    60% {letter-spacing: 0.015em;}
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    overflow-x: hidden;
    
}

article{
    max-width: 85%;
    margin: 0px auto;
}


h1 {
    font-family: "Minimal Mono Bold";
    padding: 50px 0px 0px 0px;
    margin: -270px 0px 70px 0px;
    line-height: 2.1em;
    z-index: 2;
    display: inline-block;
    overflow: hidden;
    font-size: 11.5vw;
    -webkit-animation: test 4s infinite;
    animation: test 4s infinite;
    letter-spacing: 0.02em;
}

#title {
    margin-top: -150px;
}

h2 {
    font-family: "Minimal Mono Bold";
    font-size: 4.5em;
    letter-spacing: 7px;
    text-align: justify;
    -webkit-animation: test 4s infinite;
    animation: test 4s infinite;
}

p {
    font-family: "Imperial Normal 500";
    font-size: 1.6em;
    text-align: left;
    line-height: 1.2em;
    padding: 0px;
}

u {
    border-bottom: black dotted 2px;
    text-decoration: none;
}


.p_left {
    max-width: 50%;
    margin-bottom: 0px;
}

.p_right {
    max-width: 50%;
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;

}

.flex {
    display: flex;
}

.flex_img {
    display: flex;
    
}

.flex_img img {
    position: absolute;
    top: 230%;
    right: -5.5%;
    align-self: center;
    z-index: -5;
}

.author div {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 250px;
    z-index: 3;
}

.author p {
    font-size: 1.2em;
    text-align: center;
    padding:4px 12px;
    margin: 0px;
    border: black solid 1.2px;
    position: relative;
    left: 320px;
    top: 15px;
}

.mid_title {
    max-width: 100%;
    font-size: 2.1em;
    margin-left: 4px;
    text-align: justify;
    text-align-last: left;
    letter-spacing: 0.5px;
}

#cover {
    display: block;
    margin: 0px auto;
    padding: 0px;
    max-width: 100%;
    z-index: -1;
}

#author {
    font-size: 1em;
    font-family: "Imperial Normal 500";
    padding: 0px;
    margin: 0px;
    display: inline-block;
}


#subtitle {
    max-width: 85%;
    font-size: 2.1em;
    margin-top: -70px;
    margin-left: 4px;
    text-align: justify;
    text-align-last: left;
    letter-spacing: 0.5px;
}

#tatamibari {
    position: relative;
    left: -15%;
    align-self: center;
    z-index: -5;
}

#tile_1 {
    position: absolute;
    left: 44%;
    top: 550%;
    z-index: -10;
}


