@font-face {
    font-family: "Imperial Normal 500";
    src: url("fonts/imperial-normal-500.woff2") format("woff2");
}

@font-face {
    font-family: "Minimal Mono Bold";
    src: url("fonts/minimal-mono-bold.woff2") format("woff2");
}

@font-face {
    font-family: "Neuve-Book";
    src: url("fonts/nm-book.woff2") format("woff2");
}

@font-face {
    font-family: "Neuve-SBI";
    src: url("fonts/nm-sbi.woff2") format("woff2");
}

@keyframes h1 {
    60% {letter-spacing: 0.5em;}
}

@keyframes h2 {
    60% {letter-spacing: 0.015em;}
}

@keyframes slide {
    100% { left: 0; }
}


* {
    box-sizing: border-box;
    cursor: crosshair;
}

body {
    margin: 0px;
    overflow-x: hidden;
    
}

article{
    max-width: 85%;
    margin: 0px auto;
}

nav {
    display: flex;
}

nav p {
    font-family: "Minimal Mono";
    font-size: 1em;
    margin-left: 2%;
}



.issue {
    position: absolute;
    left: 0%;
}

h1 {
    font-family: "Minimal Mono Bold";
    z-index: 2;
    display: inline-block;
    overflow: hidden;
    font-size: 14vw;
    letter-spacing: 0.5em;
    position: relative;
    left: -10%;
    padding: 2%;
    margin: 0%;
    line-height: 0.8em;
    text-align: center;
    color: white;
    -webkit-text-stroke: 3px black;
    
}



h2 {
    font-family: "Minimal Mono Bold";
    font-size: 4.5em;
    letter-spacing: 7px;
    text-align: justify;
    animation: h2 4s infinite;
}




p {
    font-family: "Imperial Normal 500";
    font-size: 1.6em;
    text-align: left;
    line-height: 1.2em;
    padding: 0px;
}

u {
    border-bottom: black dotted 2px;
    text-decoration: none;
}

.subtitle {
    max-width: 100%;
    font-size: 1.5em;
    margin-top: -19.5%;
    margin-left: 7%;
    text-align: left;
    text-align-last: left;
    position: relative;
}

.subtitle p {
    line-height: 1.2em;
}



.subtitle_1 {
    position: relative;
    width: 60%;
    left: 5%;
    margin-bottom: 20%;
}

#subtitle_1 {
    width: 30%;
    left: -1%;
    margin-top: -28%;
}


.subtitle_2 {
    position: relative;
    width: 60%;
    left: 30%;
    top: 60%;
    margin-bottom: 20%;
}


.p_left {
    max-width: 50%;
    margin-bottom: 0px;
}

.p_right {
    max-width: 50%;
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;

}

.flex {
    display: flex;
    position: relative;
    align-items: center;
}

.flex_img {
    display: flex;
    margin-top: 20%;
    position: relative;
    
}

.flex_img img {
    position: absolute;
    top: 230%;
    right: -5.5%;
    align-self: center;
    z-index: -5;
}

.title {
    position: relative;
}

 .author {
    position: relative;
    left: 43%;
    bottom: -20%;
}


.author p {
    font-family: "Neuve-SBI";
    font-size: 1em;
    text-align: center;
    line-height: 0.8em;
    padding: 4px 12px;
    margin: 0px;
}

#author_3 {
    font-family: "Neuve-Book";
}

.mid_title {
    max-width: 100%;
    font-size: 2.1em;
    margin-left: 4px;
    text-align: justify;
    text-align-last: left;
    letter-spacing: 0.5px;
}

.tentai_img {
    position: absolute;
    top: 10%;
    right: 10%;
}

.hollow {
    color: white;
    -webkit-text-stroke: 1px black;
}

.clicks {
    color: white;
    background-color: black;
    cursor: cell;
}

.notes {
    font-family: "Imperial Normal 500";
    display: none;
    position: absolute;
    line-height: 1.2em ;
    font-size: 1.2em;
    width: 40%;
    top: 50%;
    right: 2%;
    z-index: -1;
    text-decoration: underline #5aff00;
}

.notes_img {
    position: absolute;
    display: none;
    left: 8%;
}

#nyt {
    display: inline-block;
    width: 30%;
    position: relative;
    margin-top: 1%;
    left: 35%;
    z-index: -1;
}

#subtitle_tiles_1 img {
    position: absolute;
    top: 8%;
    left: 20%;
}



#japan {
    animation: h1 4s infinite;
    letter-spacing: 0.29em;
    color: black;
}

#author {
    font-size: 1.3em;
    font-family: "Imperial Normal 500";
    padding: 0px;
    margin: 0px;
    display: inline-block;
}


#cover {
    display: inline-block;
    margin-top: -1.6%;
    margin-left: 40%;
    padding: 0px;
    max-width: 100%;
    z-index: 200;
}




#subtitle {
    max-width: 85%;
    font-size: 2.1em;
    margin-top: -70px;
    margin-left: 4px;
    text-align: justify;
    text-align-last: left;
    letter-spacing: 0.5px;
}

.blue_word {
    color: blue;
    cursor: cell;
}


#tatamibari {
    position: absolute;
    top: 8%;
    left: -20%;
    
}

#tatamibari:hover {
    animation: slide 2s forwards;
    animation-delay: 0.5s;
    cursor: cell;
}

#tile_1 {
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 5;
}



